<div class="center jumbotron">
  <h1>班级管理系统</h1>

    <h2>欢迎使用班级管理系统，功能如下：班级管理，学生管理，用户管理、注册、登陆、登出、资料修改、密码重设。</h2>

    <%= link_to "现在注册!", signup_path, class: "btn btn-primary col-md-4 col-md-offset-4" %>
</div>
