<div class="center jumbotron">
  <h1>班级管理系统功能简介</h1>

  <h2>
    班级管理系统功能简介    班级管理系统功能简介    班级管理系统功能简介    班级管理系统功能简介    班级管理系统功能简介    班级管理系统功能简介    班级管理系统功能简介
  </h2>

    <%= link_to "注册用户", signup_path, class: "btn btn-lg btn-primary col-md-4 col-md-offset-4" %>
</div>
