<div class="panel panel-default">
  <div class="panel-heading"><b>用户列表</b>
    <%= link_to new_user_path, :class => 'pull-right' do %>
    <span class="glyphicon glyphicon-plus"><strong>新增用户</strong></span>
    <% end %>
  </div>
<% if @users.any? %>
<table class="users table table-striped">
  <tr><th>#</th><th>姓名</th>
    <% if current_user.admin? %>
    <th>操作</th>
    <% end %>
  </tr>
  <%= render @users %>
</table>
<%= will_paginate @users %>
</div>
<% end %>
