<li id="member-<%= klass.id %>">
  <span class="klass_name"><%= link_to klass.name, klass_path(klass) %></span>
  <span class="edit"><%= link_to "编辑", edit_klass_path(klass) %></span>
  <span class="delete">移除</span>
</li>
