<div class="panel panel-default">
  <div class="panel-heading"><b><%= @klass.name %></b>
    <%= link_to '#', :class => 'pull-right' do %>
    <span class="glyphicon glyphicon-plus"><strong>增人</strong></span>
    <% end %>
  </div>
<% if @klass.members.any? %>
<table class="members table table-striped">
  <tr><th>#</th><th>名称</th>
    <% if current_user.admin? %>
    <th>操作</th>
    <% end %>
  </tr>
  <%= render @members %>
</table>
</div>
<%= will_paginate @members %>
<% end %>
